/* Update Booking Styles */
.update-booking-container {
        background-color: rgba(255, 255, 255, 0.3); /* Transparent white */
        backdrop-filter: blur(10px); /* Apply blur effect */
        -webkit-backdrop-filter: blur(10px); /* Safari support */
        padding: 30px;
        border-radius: 10px;
        max-width: 500px;
        margin: 50px auto;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
      }

.admin_topic {
    text-align: center;
    font-size: 2.3rem;
    color: #252528;
    margin-bottom: 20px;
}

.update-booking-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.update-booking-form input,.update-booking-form select  {
    width: 90%;
    max-width: 500px;
    padding: 10px 15px;
    margin-bottom: 15px;
    font-size: 1rem;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(89, 89, 97, 0.15);
    transition: border-color 0.3s;
}

.update-booking-form input:focus {
    border-color: #404950;
    outline: none;
}

.update-button {
    width: 200px;
    padding: 10px 0;
    font-size: 1.1rem;
    background-color: #2a3943;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px 15px #2f5f7e;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.update-button:hover {
    background-color: #212931;
    box-shadow: 0 8px 20px #212931;
}

.amount-to-pay {
    margin-top: 15px;
    font-size: 18px;
    color: #dcfbf1;
    text-align: center;
  }

.fade_up {
    animation: fadeUp 0.8s ease-out forwards;
    opacity: 0;
}

@keyframes fadeUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}
